#nosso-time2{
    background-color: #f9f9f9;
    font-family: 'Poppins', sans-serif;
}

#funcionario-1{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    align-items: normal;
}